.ms-site-nav {
	border-bottom: 1px solid #ddd;
	background-color: #ffffff;
	opacity: 0.999;
	height: 61px;
}

.navbar-header .navbar-brand img {
	max-width: 150px;
	margin-top: -7px;
}

.ms-site-nav .navbar-nav > li > a {
	padding-top: 21px;
	padding-bottom: 19px;
}

.ms-site-nav .navbar-nav > li > a:hover, .ms-site-nav .navbar-nav > .active > a, .ms-site-nav .navbar-nav > .active > a:hover {
	color: #454545;
	background-color: #f9f9f9;
}

.layout-default {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
}

.layout-essay {
  	font-family: 'Gentium Book Basic', serif;
}

/* Plugins */
.headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .6s ease-in-out;}
.headroom--unpinned {top: -100px;}
.headroom--pinned {top: 0;}
