.ms-site-nav {
	border-bottom: 1px solid #ddd;
}

.navbar-header .navbar-brand img {
	margin-top: -30px;
}

.ms-site-nav .navbar-nav > li > a:hover, .ms-site-nav .navbar-nav > .active > a, .ms-site-nav .navbar-nav > .active > a:hover {
	color: #454545;
	background-color: #f9f9f9;
}

.essay {
  font-family: 'Gentium Book Basic', serif;
}

/* Plugins */
.headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .6s ease-in-out;}
.headroom--unpinned {top: -100px;}
.headroom--pinned {top: 0;}
