.ms-site-nav {
	border-bottom: 1px solid #ddd;
	background-color: #ffffff;
	opacity: 0.999;
	height: 61px;
}

.navbar-header .navbar-brand img {
	max-width: 150px;
	margin-top: -7px;
}

.ms-site-nav .navbar-nav > li > a {
	padding-top: 21px;
	padding-bottom: 19px;
}

.ms-site-nav .navbar-nav > li > a:hover, .ms-site-nav .navbar-nav > .active > a, .ms-site-nav .navbar-nav > .active > a:hover {
	color: #454545;
	background-color: #f9f9f9;
}

.layout-default,
.layout-essay > header,
.content-default {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
}

.content-essay {
	font-family: 'Gentium Book Basic', serif;
	font-size: 20px;
	line-height: 1.7;
}

.cover {
	position: relative;
	height: 100%;
	width: 100%;
}

.cover > .cover-image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.cover-content {
	position: relative;
	width: 100%;
	vertical-align: bottom;
	padding-top: 160px;
	padding-bottom: 160px;
	color: #fff;
}

.cover-content-head {
	margin: 0 auto;
	letter-spacing: 0.01rem;
	font-weight: 400;
	font-style: normal;
	font-size: 22px;
	line-height: 1.5;
}

.page-title {
	letter-spacing: -0.02em;
	font-weight: 700;
	font-style: normal;
	letter-spacing: -0.04em;
	font-size: 50px;
	line-height: 1.1;
	margin-bottom: 8px;
}

.content-default .page-title {
	font-weight: 200;
}

.page-subtitle {
	font-size: 30px;
	line-height: 1.45;
	color: rgba(221, 221, 221, 0.95);
	margin: 0;
	letter-spacing: -0.02em;
	font-weight: 100;
	font-style: normal;
}

.page-title, .page-title:focus {
	outline: 0;
	word-wrap: break-word;
}

.container-content {
	margin-top: 20px;
}

/* Plugins */
.headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .6s ease-in-out;}
.headroom--unpinned {top: -100px;}
.headroom--pinned {top: 0;}
